body {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url('/img/background_image.JPG');
    background-size: 100% 100%;
    background-attachment: fixed;
}


img{
    float: right;
    margin-top: 20px;
}


blockquote {
    font-style: italic;
    margin-top: 2px;
}
.title {
    font-weight: normal;
    margin-bottom: 2px;
}

#nameDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    background-color: #5085A5;
    font-family: cursive;
    font-weight: bold;
    color: white;
}

p, ul, ol {
    margin: 2px;
}

table, th, td, tr {
    border: 1px solid black;
    border-spacing: 3px;
    padding: 3px;
    text-align: center;
    column-width: 160px;
}

.anchor{
    padding-top: 60px;
}
.topnav{
    overflow: hidden;
    position: fixed;
    background: black;
    top: 0;
    width: 100%;
    left: 0;
}
.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;

}
.topnav a:hover{
    background: gray;
}

/*style the cells*/
.homework{
    background-color: #74b963;
}
.cpp {
    background-color: #31708E;
}
.math {
    background-color: #438ab6;
}
.webDev{
    background-color: rgb(50, 143, 92);
}
.work {
    background-color: #8FC1E3;
}
.lunch {
    background-color: gray;
}

.footer{
    left: 0px;
    color: white;
    overflow: hidden;
    position: fixed;
    background: black;
    bottom: 0;
    width: 100%;
}

.centered{
    margin: auto;
    width: 60%;
    border: 3px solid black;
    padding: 20px;
    background-color: #ffffff;
    margin-top: 50px;
    margin-bottom:23px;
}